<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/homepage.css">
</head>
<body>
    <div class="head">
        <div class="logo">
            <h1>Recipes Delicious</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/layout/recipes.html">Recipes</a></li>
                <li><a href="/layout/about.html">About</a></li>
                <li><a href="/layout/support.html">Support</a></li>
            </ul>
            <input type="search" placeholder="Search...">
        </div>
    </div>
    
    <!-- jumbo content -->
    <div class="jumbo-content">
        <img src="../image/delicious.png" alt="jumbo image">
        <div class="jumbo-text">
            <p>There are many recipes for many nationalities</p>
            <p2>including Thai, Chinese, Japanese, Korean, and even Italian and European cuisine.</p2>
        </div>
        <button><a href="/layout/recipes.html">see recipes</a></button>
    </div>

    <!-- example recipes all kind -->
    <div class="example">
        <h2>example recipes</h2>
        <h4>savory</h4>
        <div class="example-contioner"> <!-- กล่องใหญ่ที่ใส่ทุกอัน -->
            <div class="example-content"> <!-- กล่องใส่ item 3 อัน ของคาว ของหวาน เครื่องดื่ม -->
                <div class="example-savory"> <!-- box savory cover -->
                    <div class="savory-item"> <!-- box image cover -->
                        <img src="/image/vermicelli-salad-2-removebg-preview.png" alt="yum vunsan">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>